BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Always
AllowShortCaseExpressionOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
BitFieldColonSpacing: Both
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: false
  AfterClass: false
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
PointerAlignment: Left
ReferenceAlignment: Left
IncludeBlocks: Preserve
InsertNewlineAtEOF: true
SortIncludes: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true